BasedOnStyle: LLVM
ColumnLimit: 160

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true

AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
